.main{
	background-color:white;
	opacity:100;
	height:650px;
	max-width:1200px;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	margin:50px 200px 50px 200px;
	z-index:3;
}
@media screen and (min-width: 480px) {
	body{
		background-image:url("bg1.png");
	}
}
#slide-out{
	background: -webkit-linear-gradient(top, rgba(19,52,131,1) 0%,rgba(15,66,149,1) 28%,rgba(11,86,177,1) 50%,rgba(9,97,191,1) 78%,rgba(5,106,207,1) 100%);
	color:white;
	z-index:2;
	height:650px;
	width:170px;
	position:relative;
}
#litem{
	font-size:12px;
	color:#5B84C8;
}
#litem:hover{
	color:white ;
}
.ab:hover{
	border-left:5px solid #4CA6FC ;
}

.right{
	width:697px;
	margin:-650px 250px 50px 0px;
}
.se{padding:20px 0px 0px 0px;
}
.ic{
	display:flex;
	width:300px;
	height:70px;
	margin:-33px 0px 0px 647px;
	padding-top:20px;
	
}
.companies{
	width:897px;
	margin:-605px 0px 0px 185px;
	font-size:24px;
	padding-left:10px;
	font-weight:530;
}
#lorem{
	font-size:12px;
	color:#d3d3d3;
	font-weight:400;
}
.button {
	background-color:#197CE1 ; 
  	border: none;
	border-radius:2px;
  	color: white;
 	 padding: 5px 10px;
 	 text-align: center;
	float:right;
  	display: inline-block;
	margin:-560px 0px 0px 345px;
  	font-size: 16px;
}

.material-icons.plane{
	font-size:30px;
	line-height:38px;
}

.material-icons.mi{
	color:#a9a9a9;
	font-size:20px;
}

.material-icons.ca{
	color:#a9a9a9;
	font-size:14px;
	font-weight:bold;
}

.material-icons.b{
	font-size:28px;
	color:#197CE1;
}

.column {
  	float: left;
  	width: 25%;
  	padding: 0 10px;
}
h6{font-weight:500;}
/* Remove extra left and right margins, due to padding */
.row {  
	display:flex;
	margin:40px 0px 0px 230px;
}

.row2 {  
	display:flex;
	margin:-10px 0px 0px 230px;
}

/* Clear floats after the columns */
.row:after {
  	content: "";
  	display: table;
 	 clear: both;
}

#first{font-size:12px;color:#a9a9a9;font-weight:600;line-height:26px;}
#firsta{font-size:12px;color:#a9a9a9; align:left;font-weight:300; margin-left:-160px;line-height:44px;}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    	width: 100%;
    	display: block;
    	margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  	width:450px;
	 height:200px;
	 box-shadow: none;
  	padding: 16px;
 	 text-align: center;
  	background-color: white;
}
